<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
</head>
<body>

    <h1>Tienda</h1>

    <div class="carrito">
        <p>Carrito</p>
        <span class="carrito__num"></span>
    </div>

    <h2>Filtros</h2>
    <ul>
        <li><a href="/tienda/Diseño">Diseño</a></li>
        <li><a href="/tienda/Arquitectura">Arquitectura</a></li>
    </ul>

    {{#if esDiseno}}
        <label>Ingresa el rango de precio</label>
        <input value="{{precio}}" class="input-rango" type="range" min="10000" max="30000">
    {{/if}}

    {{#if esArquitectura}}
        Categoría Arquitectura
    {{/if}}

    <ul>
        {{#each productos}}
            <li class="producto">
                <a href="/tienda/producto/{{nombre}}">
                    <img class="producto__imagen" src="{{imagen}}" width="200px">
                    <h3 class="producto__nombre">{{nombre}}</h3>
                    <p class="producto__precio">{{precio}}</p>
                    <p>{{categoria}}</p>
                </a>
                <button class="producto__carrito">Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>

    <script src="/scripts/tienda.js"></script>
    
</body>
</html>